<?xml version="1.0" encoding="UTF-8"?>


<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-5p | %d{ISO8601} | %t | %m %n</pattern>
        </encoder>
    </appender>

    <appender name="FILEAPPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <File>/tomcat/logs/usermgmt-logback.log</File>
        <Append>true</Append>

        <encoder>
            <pattern>%-5p | %d{ISO8601} | %t | %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tomcat/logs/usermgmt-logback.log%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>

    </appender>


    <logger name="com.test" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILEAPPENDER"/>
    </logger>

    <!-- Strictly speaking, the level attribute is not necessary since -->

    <!-- the level of the root level is set to DEBUG by default.       -->

    <root level="DEBUG">
        <appender-ref ref="FILEAPPENDER"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
